.booking-confirmation {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.booking-confirmation h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-confirmation p {
  font-size: 18px;
  margin: 10px 0;
}

.booking-confirmation button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #858585;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.booking-confirmation button:hover {
  background-color: #009bb3;
}